# Capstone Assignment - Segmenting and Clustering Neigborhoods in Toronto

In [46]:
import pandas as pd

(103, 2)

### Scrape data from wiki webpage and transform into a pandas dataframe

In [49]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head(10)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A  Downtown Toronto      Queen's Park

### Remove rows where Borough is not assigned

In [56]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df.head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

### Group neighborhoods by postal code

In [53]:
df_grouped=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df_grouped.head(10)

              Borough                                   Neighborhood
Postcode
M1B       Scarborough                                  Malvern,Rouge
M1C       Scarborough           Highland Creek,Rouge Hill,Port Union
M1E       Scarborough                West Hill,Guildwood,Morningside
M1G       Scarborough                                         Woburn
M1H       Scarborough                                      Cedarbrae
M1J       Scarborough                            Scarborough Village
M1K       Scarborough      East Birchmount Park,Ionview,Kennedy Park
M1L       Scarborough                  Oakridge,Golden Mile,Clairlea
M1M       Scarborough  Cliffside,Cliffcrest,Scarborough Village West
M1N       Scarborough                     Cliffside West,Birch Cliff

### Update Neigborhood and Borough name to be the same if a borough is not assigned

In [63]:
df_grouped.loc[df_grouped['Neighborhood']=="Not assigned",'Neighborhood']=df_grouped.loc[df_grouped['Neighborhood']=="Not assigned",'Borough']
df_grouped.head()

              Borough                          Neighborhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       West Hill,Guildwood,Morningside
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

### Print number of rows in the dataframe

In [64]:
df_grouped.shape

(103, 2)